@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  padding: 0;
  margin: o;
  box-sizing: border-box;
}
body{
  background-color: lightblue;
}

header{
  margin: 20px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img{
  width: 70px;
}
header div h1{
  float: right;
  font-size: 34px;
  margin-left: 10px;
}
header div img{
  float: left;
}

header nav ul{
  display: flex;
}
header nav ul li{
  list-style: none;
  margin: 10px;
}
header nav ul li button{
  font-size: 26px;
  background-color: lightblue;
  border: none;
  padding: 5px;
  font-weight: 800;
}
header nav ul li button:hover{
  background-color: aliceblue;
  border-radius: 5px;
}